{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "wrap-iife": [2, "any"]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
