{
  "extends": [
    "eslint-config-airbnb",
    "prettier"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "wrap-iife": [2, "any"],
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "env": {
    "node": true,
    "jest": true
  }
}
